<div class="filter-area">
  <div class="member-area" [class.no-filter]="!selectedMember">
    <h3 [class.no-filter]="!selectedMember">{{ selectedMember }} の出演動画 {{ videoData.length }}件</h3>
    <button mat-flat-button color="accent" (click)="cancelFilter()" class="filter-cancel" [class.no-filter]="!selectedMember">
      取り消す
    </button>
  </div>

  <div class="sort-area">
    <button mat-button color="basic" [matMenuTriggerFor]="menu">
      <mat-icon class="sort-icon">sort</mat-icon>
      {{ this.order }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</div>
<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="sortNewer()">新しい順</button>
  <button mat-menu-item (click)="sortOlder()">古い順</button>
  <button mat-menu-item (click)="sortViewCount()">再生数が多い順</button>
</mat-menu>
<mat-nav-list class="video-list">
  <mat-list-item class="video-item" *ngFor="let item of videoData">
    <app-video-item
      [youtubeId]="item.youtubeId"
      [title]="item.title"
      [viewCount]="item.viewCount"
      [memberNames]="item.memberNames"
      (selectMember)="filterMember($event)"
    ></app-video-item>
  </mat-list-item>
</mat-nav-list>
