<mat-list>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
  <mat-list-item class="video-list"><app-video-item></app-video-item></mat-list-item>
</mat-list>
