/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

$custom-typography: mat-typography-config(
  $font-family: '"Noto Sans JP"',
  $subheading-2: mat-typography-level(17px, 30px, 400),
);

@include angular-material-typography($custom-typography);

.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  margin: 0;
}

.opacity-60 {
  opacity: 0.6;
}

.video-list.mat-list-base {
  padding-top: 0;
}

.mat-list-base {
  .mat-list-item.video-item {
    height: fit-content;
  }
}

.mat-list-base .mat-list-item.video-item .mat-list-item-content {
  align-items: flex-start;
}

.member-info {
  mat-chip {
    font-size: 12px;
    font-weight: 400;
  }
  .mat-standard-chip {
    min-height: 24px;
    border-radius: 12px;
  }
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 926px;
}

.filter-cancel {
  font-size: 8px;

  &.mat-flat-button {
    line-height: 20px;
    padding: 0 8px;
    margin-left: 8px;
  }
}
