/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans JP', 'Helvetica Neue', sans-serif;
}

$custom-typography: mat-typography-config(
  $font-family: '"Noto Sans JP"',
);

@include angular-material-typography($custom-typography);
