:host {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0;
}

a {
  color: #fff;
  display: block;
}

.video-info {
  display: grid;
  grid-template-columns: 132px auto;
}

.thumbnail-area {
}

.thumbnail-area > img {
  height: 64px;
}

.member-info {
  margin-top: 4px;
}
