<div class="video-info">
  <div class="thumbnail-area">
    <img src="https://i.ytimg.com/vi/E2-EtIbA7No/mqdefault.jpg" />
  </div>
  <div class="description-area">
    <div class="mat-body">謎すぎる特技を披露するメンバーにスタジオ大爆笑www #1</div>
    <div class="mat-caption opacity-60">2260 回視聴</div>
  </div>
</div>
<div class="member-info">
  <mat-chip-list>
    <mat-chip>桜瀬 もえ</mat-chip>
    <mat-chip>夏生 のん</mat-chip>
    <mat-chip>渡辺 栞</mat-chip>
    <mat-chip>藤咲 はな</mat-chip>
    <mat-chip>水越 菜波</mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
