<a matRipple href="https://youtu.be/{{ youtubeId }}" class="video-info">
  <div class="thumbnail-area">
    <img src="https://i.ytimg.com/vi/{{ youtubeId }}/mqdefault.jpg" />
  </div>
  <div class="description-area">
    <div class="mat-body">{{ title }}</div>
    <div class="mat-caption opacity-60">{{ viewCount }} 回視聴</div>
  </div>
</a>
<div class="member-info">
  <mat-chip-list>
    <mat-chip *ngFor="let name of memberNames">{{ name }}</mat-chip>
  </mat-chip-list>
</div>
<mat-divider></mat-divider>
